LABAGENT_API_KEY=<LABAGENT_API_KEY>
LABAGENT_BASE_URL=http://82.156.69.153:8000/v1
LABAGENT_EMBED_BASE_URL=http://82.156.69.153:8000/v1
LABAGENT_CHAT_BASE_URL=http://127.0.0.1:1234/v1
LABAGENT_MODEL=qwen-agent
LABAGENT_EMBED_MODEL=embed-local

LABAGENT_RAG_API_KEY=<LABAGENT_RAG_API_KEY>
LABAGENT_RAG_PORT=8010

LABAGENT_AGENT_API_KEY=<LABAGENT_AGENT_API_KEY>
LABAGENT_AGENT_PORT=8020
LABAGENT_AGENT_MODEL=labagent-agent
LABAGENT_AGENT_CHAT_MODEL=qwen-agent
LABAGENT_AGENT_VISION_MODEL=vision-local
