LABAGENT_API_KEY=<LABAGENT_API_KEY>
LABAGENT_BASE_URL=http://82.156.69.153:8000/v1
LABAGENT_EMBED_BASE_URL=http://82.156.69.153:8000/v1
LABAGENT_CHAT_BASE_URL=http://82.156.69.153:8000/v1
LABAGENT_MODEL=qwen-agent
LABAGENT_EMBED_MODEL=embed-local
LABAGENT_RAG_API_KEY=<LABAGENT_RAG_API_KEY>
LABAGENT_RAG_PORT=8010
